---
import { getCollection } from "astro:content";
import Hero from "@/components/Hero.astro";
import Breadcrumb from "@/components/Breadcrumb.astro";
import Section from "@/components/Section.astro";
import BlogPostCard from "@/components/BlogPostCard.astro";
import Layout from "@/layouts/Layout.astro";
import { KNOWN_TECH, ABOUT_ME } from "@/consts";
const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<Layout title="Token - Astro + Tailwind Portfolio Template">
  <Hero />
  <Section
    title="My Posts"
    className={"bg-gradient-to-b from-black/70 from-[5%] to-black via-black"}
  >
    <div class="w-full grid grid-cols-1 md:grid-cols-2 gap-4">
      {
        posts.map((post) => (
          <BlogPostCard
            slug={post.id}
            title={post.data.title}
            excerpt={post.data.description}
            date={post.data.pubDate}
          />
        ))
      }
    </div>
  </Section>
  <Section title="Technologies I Know" full_screen={false}>
    <div class="w-full flex flex-wrap gap-6 justify-center px-3">
      {KNOWN_TECH.map((group) => (
        <div class="bg-gray-800 rounded-xl p-4 shadow-lg min-w-[200px]">
          <h3 class="text-lg font-semibold mb-2">{group.category}</h3>
          <div class="flex flex-wrap gap-2">
            {group.items.map((tech) => (
              <Breadcrumb title={tech} />
            ))}
          </div>
        </div>
      ))}
    </div>
  </Section>

  <Section title="About Me">
    <div class="w-full grid place-items-center">
      <div
        class="max-w-4xl text-xl md:text-lg opacity-90 text-center justify-evenly"
      >
        <p>{ABOUT_ME}</p>
      </div>
    </div>
  </Section>
</Layout>
